.list-order__item{
    position: relative;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin: 0;
}
h1{
    width: 300px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
}
.list-order{
    width: 1550px;
    font-weight: bold;
    margin-top: 30px;
    display: block;
    border: none;
}

.list-order__item-name{
    text-align: start;
    padding: 5px 15px 5px 5px;
}
.total-text{
    font-size: 30px;
    text-align: left;
    margin: 20px ;
}

.list-order:last-child{
    margin: 0 auto;
    margin-top: 50px;
}

h2{
    margin: 0 auto;
}
 
.art{
    width: 150px;
}
.warehouse{
    font-weight: bold;
    font-size: 12px;
}

.posting-number{
    text-align: left;
    width: 180px;
}

.productName{
    width: 900px;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    height: 40px;
    padding:0;
}

.productTotal{
    width: 500px;
}

.date{
    font-size: 40px;
    font-weight: bold;
}

 .cross{
    position: absolute; 
    top: -80px;
    right: -30px;
    font-size: 30px;
    cursor: pointer; 
 }

 .cross:hover{
    color: grey;
    border-bottom: 3px solid black;  
 }

